<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="body">
    <!-- <div class="conatiner-fluid"> -->
    <span style="font-size:30px;cursor:pointer;float:right;margin-right:10px;" onclick="openNav()">&#9776; MENU</span>
      <div id="mySidenav"class="sidenav" >
        <div class="navbar navbar-inverse navbar-fixed-left">
          <a class="navbar-brand" href="/">Dev Doja</a>
          <nav id="">
            <ul class="nav navbar-nav">
              <li><a href="/"><i class="fa fa-home left"></i> <br>
                 <!-- <span class="left">Home</span> -->
               </a><p class="text-center">Home</p></li>
              <li><a href="/projects"><i class="fa fa-cogs left"></i> <br>
                <!-- <span class="left">Projects</span> -->
              </a><p class="text-center">Projects</p></li>
              <li><a href="/about"><i class="fa fa-info-circle left"></i> <br>
                <!-- <span class="left">About</span> -->
              </a><p class="text-center">About</p></li>
              <li><a href="/shop"><i class="fa fa-shopping-cart left"></i> <br>
                <!-- <span class="left">Shop</span> -->
              </a><p class="text-center">Shop</p></li>
              <li><a href="/emaillist"><i class="fa fa-list left"></i><br>
                <!-- <span class="left">Mail list</span> -->
              </a><p class="text-center">Email List</p></li>
              <li><a href="/contact"><i class="fa fa-envelope-o left"></i> <br>
                <!-- <span class="left">Contact Us</span> -->
              </a><p class="text-center">Contact Us</p></li>
              <li></li>
            </ul>
          </nav>
        </div>
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa fa-remove"></i></a>
      </div>
      <div class="wrap">


    <!-- </div> -->
