
  <% include partials/header %>

    <div id="main"class="container-fluid">
      <br><br>
      <div id="jumbo" class="jumbotron">
        <h1> Doja Dev Blog</h1>
      </div>

      <h1>About <%= title %></h1>

      
    </div>

  <% include partials/footer %>
