
  <% include partials/header %>

    <div id="main"class="container-fluid">
      <br><br>
      <div id="jumbo" class="jumbotron">
        <h1> Doja Dev Blog</h1>
      </div>

      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <ul class="blogs">
        <li>
          <h2>Blog Post Title</h2>
          <img class="img-responsive"src="http://lorempixel.com/300/200" alt="">
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...  <a href="#" class="btn btn-primary btn-sm">Read More</a></p>
          </div>
        </li>
        <li>
          <h2>Blog Post Title</h2>
          <img class="img-responsive"src="http://lorempixel.com/300/200" alt="">
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... <a href="#" class="btn btn-primary btn-sm">Read More</a></p>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <h2>Blog Post Title</h2>
              <img class="img-responsive"src="http://lorempixel.com/300/200" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... <br><br><a href="#" class="btn btn-primary btn-sm">Read More</a></p>
              </div>
            </div>
          </div>


        </li>
        <li>
          <h2>Blog Post Title</h2>
          <img class="img-responsive"src="http://lorempixel.com/300/200" alt="">
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... <a href="#" class="btn btn-primary btn-sm">Read More</a></p>
          </div>
        </li>
      </ul>
    </div>

  <% include partials/footer %>
